<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%X{traceId}/%X{spanId}] %5p ${PID:- } [%15.15t{14}] %-40.40logger{39} : %m%n</Property>
        <Property name="APP_LOG_ROOT">./logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}" />
        </Console>
 
        <RollingFile name="FileAppender"
            fileName="${APP_LOG_ROOT}/integration.log"
            filePattern="${APP_LOG_ROOT}/integration-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile>
 
    </Appenders>
    <Loggers>
        <Logger name="net.apmoller.crb.gcd.microservices" additivity="false">
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="Console" />
        </Logger>
 
        <Root level="INFO">
            <AppenderRef ref="FileAppender" />
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>